@import "tailwindcss";


@theme {
  --color-purple: #67285F;
  --color-saumon: #BC5050;
  --color-gray: #828282;
}

.back {
  background-image: url("./src/assets/back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .2;
  z-index: 99;
}



